body{
text-align: center;
font-family: 'Merriweather', serif;
font-size: 20px;
height: 100%;
width: 100%;
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)) ,url(../img/login_banner.jpg);
background-size: cover;

}



.first-div{
  margin-top: 100px;
  margin-bottom: 10px;
}

h1{
  color: #202040;
  text-align: center;
 }

.buttons{
  text-align: center;
}
